APP_NAME="Moz Acad"
APP_ENV=production
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Africa/Maputo
APP_LOCALE=pt_MZ

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=moz_acad
DB_USERNAME=root
DB_PASSWORD=

PRICING_CURRENCY=MZN

DEBITO_BASE_URL=http://localhost:9000
DEBITO_WALLET_ID=122767
DEBITO_TOKEN=
DEBITO_EMAIL=
DEBITO_PASSWORD=
DEBITO_USE_STATIC_TOKEN=true
DEBITO_TIMEOUT=30
DEBITO_CALLBACK_URL=
DEBITO_ENABLE_WEBHOOK=false
DEBITO_CURRENCY=MZN
DEBITO_MPESA_ENABLED=true
DEBITO_LOG_CHANNEL=single

MPESA_MSISDN_REGEX=/^(84|85)\d{7}$/
MPESA_COUNTRY_CODE=MZ

INVOICE_PREFIX=MZA
PAYMENT_REFERENCE_PREFIX=PAY
ORDER_REFERENCE_PREFIX=ORD

PRICING_BASE_TRABALHO_PESQUISA=800
PRICING_BASE_PROJECTO_PESQUISA=1500
PRICING_BASE_MONOGRAFIA=4500
PRICING_BASE_RELATORIO_ESTAGIO=2000
PRICING_BASE_ARTIGO_CIENTIFICO=1200
PRICING_BASE_RESAENHA_CRITICA=700
PRICING_BASE_ENSAIO_ACADEMICO=900
PRICING_BASE_TRABALHO_CAMPO=1800
PRICING_BASE_REVISAO_LITERATURA=1400
PRICING_BASE_ESTUDO_CASO=1600
PRICING_BASE_PROPOSTA_TCC=1700

PRICING_PER_PAGE_DEFAULT=40
PRICING_INCLUDED_PAGES_DEFAULT=10

PRICING_LEVEL_TECNICO_MULTIPLIER=1.0
PRICING_LEVEL_LICENCIATURA_MULTIPLIER=1.2
PRICING_LEVEL_POS_GRADUACAO_MULTIPLIER=1.35
PRICING_LEVEL_MESTRADO_MULTIPLIER=1.6
PRICING_LEVEL_DOUTORAMENTO_MULTIPLIER=2.0

PRICING_COMPLEXITY_LOW_MULTIPLIER=1.0
PRICING_COMPLEXITY_MEDIUM_MULTIPLIER=1.15
PRICING_COMPLEXITY_HIGH_MULTIPLIER=1.35
PRICING_COMPLEXITY_VERY_HIGH_MULTIPLIER=1.60

PRICING_URGENCY_NORMAL_MULTIPLIER=1.0
PRICING_URGENCY_FAST_MULTIPLIER=1.2
PRICING_URGENCY_EXPRESS_MULTIPLIER=1.5
PRICING_URGENCY_ULTRA_MULTIPLIER=2.0

PRICING_EXTRA_CAPA_PERSONALIZADA=200
PRICING_EXTRA_ABSTRACT_BILINGUE=300
PRICING_EXTRA_REFERENCIAS_PREMIUM=250
PRICING_EXTRA_REVISAO_METODOLOGICA=500
PRICING_EXTRA_REVISAO_HUMANIZADA=400
PRICING_EXTRA_APRESENTACAO_SLIDES=800
PRICING_EXTRA_RESUMO_DEFESA=450
PRICING_HUMAN_REVIEW_MONOGRAFIA=1500

PRICING_MIN_ORDER_AMOUNT=500
PRICING_ENABLE_DB_OVERRIDES=true

STORAGE_GENERATED_PATH=storage/generated
STORAGE_TEMPLATES_PATH=storage/templates
STORAGE_LOGS_PATH=storage/logs
